/* Universal Selector - use to target all elements */
* {
	font-family: "Courier New", monospace;
	font-size:  20px;
}

h1 {
	color: yellowgreen !important;
}

h2 {
	color: deepskyblue;
	text-align: center;
}

p {
	color: forestgreen;
}

#zuitt-motto {
	letter-spacing: 5px;
}

.offering-item {
	text-transform: uppercase;
}

#offering-1 {
	color: #1f567a;
}

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/* Adjacent Sibling Selector (+) use to select the first sibling */
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

div + p {
	background-color: #0055ff;
}

/* General Sibling Selector (~) use to select all its siblings 

div ~ p {
	background-color: lightyellow;
}*/

/* Child Selector (>) use to select all its elements 
div > p {
	background-color: mediumvioletred;
}*/

/* Descendant Selector (whitespace) */

div p {
	background-color: orangered;
}

/* Multiple selector, to select multiple elements separate by comma
h3, p, ol, h1 {
	property: value;
}*/